.blog-post-container {
    background-color: white;
    padding: 1em;
    margin: 1em;
    box-shadow: 5px 10px 10px #888888;
    border-radius: 5px;
}

img {
    display: block;
    margin: auto;
}

.header-image {
    margin: 1em;
}