.projectDescription {
    flex: 10;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 2em;
    font-size: 0.85em;
    padding: 0.3em;
    margin: 0 auto;
    text-align: justify;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
}

.projectName {
    flex: 1;
    text-align: center;
}

.projectCard {
    box-shadow: 0.2em 0.2em;
    height: 12em;
    width: 14em;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px; 
    box-shadow: 5px 10px 10px #888888;
}


.projectLink {
    flex: 1;
    margin: 0 auto;
    padding: 0.5em;
}

