.contact-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .contact-container { flex-direction: row; }
}

.contact-card {
    background-color: white;
    width: 5em;
    height: 5em;
    margin: 1em;
    box-shadow: 5px 10px 10px #888888;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.contact-card:hover {
    background-color: white;
    width: 6em;
    height: 6em;
    box-shadow: 5px 10px 30px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon {
    display: flex;
    flex: 8;
    justify-content: center;
    align-items: center;
}

.contact-icon-desc {
    display: flex;
    flex: 4;
    text-align: center;
}

