/* Add funcionality but hide scrollbar for IE, Edge and Firefox */
.timeline-wrapper {
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.timeline-wrapper::-webkit-scrollbar {
  display: none;
}